NODE_ENV = "development" | "production"
ORIGIN = "localhost:5173"
API_PREFIX = "/api"
LOG_LEVEL = "fatal" | "error" | "warn" | "info" | "debug" | "trace" | "silent";
PORT = "3000"
TRUST_PROXY = "1"
JWT_SECRET = ""
ACCESS_TOKEN_TTL = "xm"
REFRESH_TOKEN_TTL = "yd"
ENCRYPTION_KEY = ""
"postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require&channel_binding=require"
